name: Update {{ tool }}-{{ environment }} service Helm Chart versions

scms:
  default:
    kind: github
    spec:
      user: ak-mustafa
      email: akmustafa.tech@gmail.com
      owner: ak-mustafa
      repository: update-cli
      username: ak-mustafa
      token: '{% raw %}{{ requiredEnv "TOKEN" }}{% endraw %}'
      branch: main

sources:
  {{ tool }}:
    kind: helmchart
    spec:
      url: {{ url }}
        kind: latest
        name: {{ chart_name }}
        
  {{ environment }}:
    name: Get {{ environment }} version
    kind: yaml
    scmid: default
    spec:
      file: charts/argocd/utils/{{ tool }}.yaml
      key: $.spec.generators[0].list.elements[{{ row }}].targetRevision

conditions:
  {{ environment }}:
  {% if environment == "dev" %}
    name: Compare {{ environment }}
    kind: shell
    sourceid: {{ environment }}
    spec:
      command: bash ./compare_version.sh {% raw %}{{ source "{% endraw %}{{ tool }}{% raw %}" }} {{ source "{% endraw %}{{ environment }}{% raw %}" }}{% endraw %}
  {% endif %}
  {% if environment == "stg" %}
    name: Compare {{ environment }}
    kind: shell
    sourceid: {{ environment }}
    spec:
      command: bash ./compare_version.sh {% raw %}{{ source "dev" }} {{ source "{% endraw %}{{ environment }}{% raw %}" }}{% endraw %}
  {% endif %}
  {% if environment == "prd" %}
    name: Compare {{ environment }}
    kind: shell
    sourceid: {{ environment }}
    spec:
      command: bash ./compare_version.sh {% raw %}{{ source "stg" }} {{ source "{% endraw %}{{ environment }}{% raw %}" }}{% endraw %}v
  {% endif %}
  {% if environment == "mgmt" %}
    name: Compare {{ environment }}
    kind: shell
    sourceid: {{ environment }}
    spec:
      command: bash ./compare_version.sh {% raw %}{{ source "prd" }} {{ source "{% endraw %}{{ environment }}{% raw %}" }}{% endraw %}
  {% endif %}

targets:
  {%if environment == "dev" %}
    DevChartVersion: 
      name: test
      scmid: default
      sourceid: {{ tool }}
      kind: yaml
      spec:
        file: "charts/argocd/utils/{{ tool }}.yaml"
        key: "spec.generators[0].list.elements[1].targetRevision"
  {% endif %}
  {%if environment == "stg" %}
    STGChartVersion: 
      name: test
      scmid: default
      sourceid: {{ tool }}
      kind: yaml
      spec:
        file: "charts/argocd/utils/{{ tool }}.yaml"
        key: "spec.generators[0].list.elements[2].targetRevision"
  {% endif %}
  {%if environment == "prd" %}
    STGChartVersion: 
      name: test
      scmid: default
      sourceid: {{ tool }}
      kind: yaml
      spec:
        file: "charts/argocd/utils/{{ tool }}.yaml"
        key: "spec.generators[0].list.elements[3].targetRevision"
  {% endif %}
  {%if environment == "mgmt" %}
    STGChartVersion: 
      name: test
      scmid: default
      sourceid: {{ tool }}
      kind: yaml
      spec:
        file: "charts/argocd/utils/{{ tool }}.yaml"
        key: "spec.generators[0].list.elements[0].targetRevision"
  {% endif %}